@import './styles/variables';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.primary-large-button {
    background-color: $primary-button-background;
    color: $primary-button-text;
    width: 200px;
    height: 46px;
    border-radius: 10px;
}
.primary-small-button {
    background-color: $primary-button-background;
    color: $primary-button-text;
    width: 136px;
    height: 43px;
    border-radius: 10px;
}
.secondary-large-button {
    background-color: $seconday-button-background;
    color: $primary-button-text;
    width: 200px;
    height: 46px;
    border-radius: 10px;
}
.secondary-small-button {
    background-color: $seconday-button-background;
    color: $primary-button-text;
    width: 136px;
    height: 43px;
    border-radius: 10px;
}
.tertiary-button {
    color: $primary-button-text;
    width: 136px;
    height: 43px;
    border-radius: 10px;
    border: 1px solid $primary-button-text;
}
.text-box {
    width: 200px;
    height: 46px;
    border: 1px solid $textbox-border;
}
.mat-form-field-empty.mat-form-field-label {
    color: $textbox-border;
    background-color: $default-background;
}