@import './styles/variables';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.primary-large-button {
    background-color: $primary-button-background;
    color: $primary-button-text;
    width: 200px;
    height: 46px;
    border-radius: 10px;
    border: none;
}
.primary-small-button {
    background-color: $primary-button-background;
    color: $primary-button-text;
    width: 136px;
    height: 43px;
    border-radius: 10px;
}
.secondary-large-button {
    background-color: $seconday-button-background;
    color: $primary-button-text;
    width: 200px;
    height: 46px;
    border-radius: 10px;
}
.secondary-small-button {
    background-color: $seconday-button-background;
    color: $primary-button-text;
    width: 136px;
    height: 43px;
    border-radius: 10px;
}
.tertiary-button {
    color: $primary-button-text;
    width: 136px;
    height: 43px;
    border-radius: 10px;
    border: 1px solid $primary-button-text;
}
.text-box {
    width: 200px;
    height: 46px;
    border: 1px solid $textbox-border;
}
.mat-form-field-empty.mat-form-field-label {
    color: $textbox-border;
    background-color: $default-background;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 20px;
  min-height: 100vh; 
  box-sizing: border-box;
}

.container-dashboard {
    width: 100%;
    height: 100vh;
    padding: 3rem 4rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.dashboard-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .dashboard-header-buttons {
        display: flex;
        gap: 0 1rem;
    }
}

.dashboard-header .page-title {
    font-size: 2.5rem;
    font-weight: 700;
}

.dashboard-header .page-subtitle {
    color: $information-text-color;
}