<div class="modal-backdrop" *ngIf="showModal">
    <div class="modal">
        <h2>Criar Usuário</h2>

        <form [formGroup]="form" (ngSubmit)="submit()">

            <label>Nome</label>
            <input type="text" formControlName="name" required />

            <label>Email</label>
            <input type="email" formControlName="email" required />

            <label>Usuário</label>
            <input type="text" formControlName="username" required />

            <label *ngIf="!this.isEdit">Senha</label>
            <input *ngIf="!this.isEdit" type="password" formControlName="password" required />

            <label>Perfil</label>
            <select formControlName="profileId">
                <option value="" disabled selected>Selecione um perfil</option>
                <option *ngFor="let p of profiles" [value]="p.id">
                {{ p.profile }}
                </option>
            </select>


            <div style="display: flex; justify-content: space-between; margin-top: 16px;">
                <button class="submit-button" type="submit">Salvar</button>
                <button class="cancel-button" type="button" (click)="close()">Cancelar</button>
            </div>

        </form>
    </div>
</div>
