<div class="container-dashboard">
  <div class="dashboard-header">
        <div>
            <h2 class="page-title">Tickets</h2>
            <p class="page-subtitle">{{ totalTickets }} chamados criados.</p>
        </div>
        <div class="dashboard-header-buttons">
          <app-button
            texto="Novo Ticket"
            size="large"
            type="primary"
            (click)="irParaNovoTicket()">
          </app-button>
        </div>
    </div>

    <div class="table-container">
      <input type="text" (keyup)="applyFilter($event)" placeholder="Digite sua busca..." />
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="Number">
            <th mat-header-cell *matHeaderCellDef> Número </th>
            <td mat-cell *matCellDef="let element"> {{element.ticketNumber}} </td>
          </ng-container>

          <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef> Descrição </th>
            <td class="description" mat-cell *matCellDef="let element">
              <span class="ellipsis">
                {{ element.description }}
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="Assignee">
            <th mat-header-cell *matHeaderCellDef> Responsável </th>
            <td mat-cell *matCellDef="let element"> {{element.assignee}} </td>
          </ng-container>

          <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>

          <ng-container matColumnDef="UpdatedAt">
            <th mat-header-cell *matHeaderCellDef> Atualizado Em </th>
            <td mat-cell *matCellDef="let element"> {{element.updatedAt | formatDateBr}} </td>
          </ng-container>
  
          <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef> Ações </th>
            <td mat-cell *matCellDef="let element">
              <div class="acoes">
                <button class="btn edit" matTooltip="Editar perfil" (click)="onEdit(element)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button *ngIf="element.active" class="btn delete" matTooltip="Inativar" (click)="onDelete(element)">
                  <mat-icon>remove_circle</mat-icon>
                </button>
                <button *ngIf="!element.active" class="btn toogle" matTooltip="Ativar" (click)="onDelete(element)">
                  <mat-icon>add_circle</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>
            
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Nenhum resultado encontrado.</td>
          </tr>
        </table>
    </div>
</div>
