$primary-button-background: #055DFC;
$default-background: #24282C;
$primary-button-text: #FFFFFF;
$seconday-button-background: #E94F54;
$information-text-color: #B8B8B8;
$title-text-color: #FFFFFF;
$critical-ticket-background: #E94F54;
$high-ticket-background: #E56026;
$medium-ticket-background: #FFED84;
$low-ticket-background: #5c6266;
$resolved-ticket-background: #7CBF6A;
$open-ticket-background: #4A90E2;
$waiting-ticket-background: #D9B56F;
$in-progress-ticket-background: #876dd6;
$canceled-ticket-background: #f73d36;
$modal-background: #1A1C1E;
$textbox-border: #979797;
$title-text-size: 32px;
$information-text-size: 14px;