<div class="backdrop" *ngIf="open">
    <div class="modal" *ngIf="open">
        <div class="modal-header">
            <h1>{{title}}</h1>
        </div>

        <div class="modal-body">
            <p>{{ message }}</p>
        </div>

        <div class="bottom-div" *ngIf="!this.showOkBuuton">
            <button class="submit-button" type="submit" (click)="onConfirm()">Salvar</button>
            <button class="cancel-button" type="button" (click)="onCancel()">Cancelar</button>
        </div>
        <div class="bottom-div" *ngIf="this.showOkBuuton">
            <button class="submit-button" type="button" (click)="onCancel()">Ok</button>
        </div>
    </div>
</div>
