<div class="ticket-create-container">
  <div class="form-section">
    <h2 (click)="goBack()" style="cursor: pointer;">← Voltar</h2>
    <h1>Criar Ticket</h1>

    <label>Selecionar motivo</label>
    <select [(ngModel)]="assunto">
      <option *ngFor="let rc of rootCauses" [value]="rc.id">
        {{ rc.rootCauseName }}
      </option>
    </select>

    <label>Descrição</label>
    <textarea
      placeholder="Descreva o problema..."
      [(ngModel)]="descricao"
      (input)="onDescricaoChange()"
    ></textarea>

    <div class="buttons">
      <app-button
        texto="Criar Ticket"
        (onClick)="criarTicket()"
        [active]="criarTicketAtivo"
        [bold]="true"
      ></app-button>

      <app-button
        texto="Ajuda IA"
        (onClick)="ajudaIA()"
        [active]="true"
        [bold]="true"
      ></app-button>
    </div>
  </div>

  <div class="ia-section">
    <h2>Dicas Geradas IA</h2>

    <div class="dicas-ia" [innerHTML]="dicasIA"></div>

    <div class="feedback">
      <span>Resolveu o problema?</span>

      
      <app-button
        texto="Sim"
        (onClick)="feedbackIA(true)"
        [active]="feedbackAtivo"
        [bold]="true"
      ></app-button>

      <app-button
        texto="Não"
        (onClick)="feedbackIA(false)"
        [active]="feedbackAtivo"
        [bold]="true"
      ></app-button>
    </div>
  </div>
</div>
<app-confirm-modal
    [open]="showModal"
    [title]="modalTitleMessage"
    message="{{textMessage}}"
    [showOkBuuton]="showOkButton"
    (cancel)="onCancelAction()">
</app-confirm-modal>
